*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
    width: 35%;
    margin: 50px auto;
    /* padding: 10px; */
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1{
    background-color: #3A0519;
    color: white;
    padding: 10px;
}

.input{
    margin: 20px;
    /* margin-top: 10px; */
}

input{
    padding: 7px;
    margin: 0px 10px;
}

button{
    border: 0px;
    background-color: #670D2F;
    color: white;
    padding: 7px;
    margin-left: 10px;
    cursor: pointer;
    /* transition: ; */
}

button:hover{
    background-color: #A53860;
}

.result{
    width: 100%;
    padding: 10px;
    margin: auto;
    
}