<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/add-product.css">
</head>
<body>
    {{>navbar}}

    <div class="container">
        <form action="/admin/add-product" method="post">
            <div class="product-box">
                <div class="item-box">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter product name">
                </div>

                <div class="item-box">
                    <label for="price">Price: </label>
                    <input type="text" name="price" id="price" placeholder="Enter product price">
                </div>

                <div class="item-box">
                    <label for="imageURL">Image URL: </label>
                    <input type="text" name="imageURL" id="imageURL" placeholder="Enter product image URL">
                </div>

                <div class="item-box">
                    <label for="desc">Description: </label>
                    <textarea name="desc" id="desc" placeholder="Enter product description" rows="5" cols="100">
                    </textarea>
                </div>
            </div>

            <button type="submit" class="add-btn">Add</button>
        </form>
    </div>
</body>
</html>
