.product-box{
    /* border: 2px solid black;
    border-radius: 10px; */
    margin: 100px 150px;
    display: flex;
    flex-wrap: wrap;
}

.product-details{
    border: 2px solid gray;
    border-radius: 10px;
    width: 100%;
    margin: 15px;
    display: flex;
    padding: 20px 30px;
}

.image{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid green; */
    margin-right: 30px;
}

.info{
    width: 60%;
    /* border: 1px solid green; */
}

.name{
    font-size: 25px;
}


.desc{
    margin-top: 10px;
}

.buttons{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center; 
    gap: 15px;
    flex-direction: column;
    padding: 10px;
    margin-left: 100px;
}

button{
    padding: 8px 12px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button a{
    text-decoration: none;
    color: white;
}

.edit-btn{
    background-color: #5a5a5a;
}

.edit-btn:hover{
    cursor: pointer;
    background-color: #323232;
}

.details-btn{
    background-color: #0029df;
}

.details-btn:hover{
    cursor: pointer;
    background-color: #000da0;
}

.delete-btn{
    background-color: #bb0000;
}

.delete-btn:hover{
    cursor: pointer;
    background-color: #970000;
}
