<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to signup page</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Signup</button>
    </form>
    <div>
        Already a user? <button><a href="/login">Login</a></button>
    </div>
</body>
</html>
