<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <h1>My tasklist</h1>
        <form action="/addtask" method="post">
            <input type="text" name="task" placeholder="Enter a task">
            <button type="submit">Add</button>
        </form>

        <ul>
            {{#each taskList as |t|}}
                <li>{{t}}</li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
